@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes liftUp {
  from {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  to {
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  }
}



.customer-container {
  background-image: url('pexels-tbee-82256.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  padding: 100px 120px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.7s forwards;
  align-items: vertical;
  overflow-y:auto; 
  width:100%;
  height:100%;
  
}

.topBar{
  background-image: url(brown-wooden-textured-flooring-background_53876-101851.avif);
  background-color: #000;
  width: 100%; 
  height: 150px;
  position: absolute;
  top: 0;
  left: 0; 
  margin: 0;
  align-items: center;
}
.backButtons button{
  color: #030a12;
  font-size: calc(1.3rem * var(--font-size-multiplier));
  
  border: none;
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #7b7a7a;
  background-color: rgb(255, 255, 255);
  border-width:2px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
  align-items:center;
  position:fixed;
  top:55px;
  left:10px;
  justify-content: center; 
}

.backButton button:hover {
  transform: scale(1.05) translateX(2px);
  background-color: #c7d1e2ed;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}
 .topImgDisplay{
  background-image: url(logo.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  flex:1;
  height:200px;
  width:400px;
  margin: 0 auto;
  margin-top: 60px;
 
  

}


h1 {
  font-weight: 700;
  font-size: calc(3.5rem * var(--font-size-multiplier));
  color: #dedede;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin: 0 200px;
  
  
}

.topBar h1{
  position:relative;
  font-size: 7rem;
  bottom: 0;
  text-align:center;
}

.button-selections {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
  
}


.button-selections button {
  
  margin-top:0px;
  margin-bottom: 40px;
  margin:0px 90px;
  font-size: calc(1.2rem * var(--font-size-multiplier));
  background-color: rgb(151, 148, 148);
  background-image: url(istockphoto-1177450328-612x612.jpg);
  background-image: center;
  font-family:sans-serif;
  color: #ffffff;
  border-radius: 50%;
  border: 2px solid;
  border-color: #2f2f2f;
  border-width:4px;
  cursor: pointer;
  font-weight: 600;
  width: 150px;
  height: 150px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

 
}


.button-selection button:hover {
  transform: scale(1.01) translateY(-1px);
  background-color: #c7d1e2ed;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}


.second-parts {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  background-image: url(brown-wooden-textured-flooring-background_53876-101851.avif);
  bottom:0;
  border: none;
  border-radius: 25px;
  padding: 15px 15px;
  
  
  
}
.textwImg{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(brown-wooden-textured-flooring-background_53876-101851.avif);
  bottom:0;
  border: none;
  border-radius: 25px;
  padding: 15px 15px;

}


.second-parts p {
  font-size: calc(1.2rem * var(--font-size-multiplier));
  margin-bottom: 30px;
  color: #c5c1c1;
  text-align: Left;
  
  
}
.second-parts .text-column {
  
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  flex: 1; /* This will make the text column take up the available space */
  
  
}
.second-parts .imgDisplay{
  background-image: url(bsdimg.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  flex:1;

}

.Modal {
  position: relative;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width:400px;
  height:420px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  background-image: url(IMG_2104.0.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  border: 2px solid #000;
  border-radius: 25px;
  border-color:#403434;
  border-width:8px;
  


}
.MapModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width:400px;
  height:420px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  border: 2px solid #ffffff;
  border-radius: 25px;
  border-color:#403434;
  border-width:8px;
  


}



.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}




