/* src/components/customer.css */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes liftUp {
  from {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  to {
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  }
}



.customer-container {
   background-color: #003366;
  padding: 100px 150px;
  border-radius: 25px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  max-width: 90vw;
  margin: 5% auto;
  animation: fadeIn 0.7s forwards;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
}

.user-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-selection p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
}

.user-selection button {
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  background-color: #e6eef8;
  color: #003366;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  width: 220px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.user-selection button:hover {
  transform: scale(1.05) translateY(-5px); /* Adding vertical movement */
  background-color: #c7d1e2;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2); /* Shadow gives the lift effect */
}