.edit-menu-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eaecef; /* Light background */
  }
  
  .edit-menu-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .add-item-button {
    display: block;
    width: 200px;
    margin: 0 auto 30px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .menu-item-card {
    width: 300px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .menu-item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .menu-item-card .btn {
    margin-right: 10px;
  }
  
  .menu-item-card .btn-primary {
    background-color: #007bff;
  }
  
  .menu-item-card .btn-danger {
    background-color: #dc3545;
  }
  

  .custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
  }
  
  .custom-modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  
  .custom-modal-close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .custom-modal-body {
    margin-top: 20px;
  }
  
  .custom-modal-body label {
    display: block;
    margin-bottom: 5px;
  }
  
  .custom-modal-body input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  

  .ingredients-checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minmax values as needed */
    gap: 1px; /* Space between grid items */
    margin-top: 10px;
  }
  
  .custom-cart-item {
    display: flex;
    align-items: center;
  }