/* :root {
  --base-font-size: 16px; /* Default base font size */
 

.homepage {
  height: 100vh;
  background: url('./tea.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}


.central-image {
  color: white; /* Or any other color that blends well with your image */
}

.titles {
  color: #f8f8f2;
  font-size: calc(4rem * var(--font-size-multiplier));
  margin-bottom: 2rem;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none; 
  background: none;
}

.nav-options span {
  display: inline-block;
  margin: 0 1rem;
  font-size: calc(1.5rem * var(--font-size-multiplier));
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease; /* Adjust to transition all properties smoothly */
  color: #f8f8f2; /* Light color for the text */
  border: 2px solid #f8f8f2; /* Adding a border instead of background */
}

.nav-options span:hover {
  transform: scale(1.1); /* Enlarges the option */
  background-color: rgba(255, 255, 255, 0.2); /* A subtle background color */
  border-color: #ffffff; /* Lighten the border on hover */
  color: #ffffff; /* Optionally change the text color on hover */
  
}

.textSize {
  position: absolute;
  top:20px;
  right:110px;
}

.textSize button {
  background-color: rgb(97, 97, 97);
}

.textSize button:hover {
  background-color: #3c3c3d;
}