/* manager.css */
.manager-container {
    height: 100vh;
  background: url('./tea.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.manager-title {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.buttons-container {
    display: inline-block;
  margin: 0 1rem;
  font-size: calc(1.5rem * var(--font-size-multiplier));
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease; /* Adjust to transition all properties smoothly */
  color: #f8f8f2; /* Light color for the text */
  
}

.dashboard-button {
    padding: 90px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border: 2px solid #f8f8f2; /* Adding a border instead of background */
    margin-left: 30px;
   
}

.dashboard-button:hover {
    transform: scale(1.1); /* Enlarges the option */
    background-color: rgba(255, 255, 255, 0.2); /* A subtle background color */
    border-color: #ffffff; /* Lighten the border on hover */
    color: #ffffff; /* Optionally change the text color on hover */
}
